@import "grid";
@import "styles/variables";

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tn_text{
  color: rgb(38, 39, 75);
  outline: none;
}

.textarea-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.textarea-wrapper textarea {
  flex: 1;
}

.textarea-wrapper button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}


.form__field {
  overflow-x: hidden;
  border: 1px solid $colors-gray6;
  border-radius: $radii-2;
  box-sizing: border-box;
  padding: $space-3;
  resize: none;
  font-size: $fontSizes-4;
  color: rgb(38, 39, 75);
  font-weight: 400;
  outline: none;
  color: $colors-text;
  padding: 22px;
  background: white;
  transition: border-color 0.2s;
  padding-left: $space-7;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: $fontSizes-3;
    color: rgb(115, 115, 143);
    cursor: text;
    top: $space-5;
  }
}

.form__group.paletteField {
  display: flex;
  align-items: center;

  .colorPalette {
    width: 25px;
    height: 25px;
    border-radius: $radii-3;
    position: absolute;
    margin-left: $space-3;
    margin-top: 10px;
    box-shadow: gray 0px 0px 1px;
  }
}

.form_field_large {
  width: 100%;
  height: 50vh;
  aspect-ratio: 1/1;
}

.form__field__med {
  width: 50%;
}

.form__field__no__margin {
  padding: 0;
}

.form_field_slim {
  width: 100%;
  height: 70px;
  overflow-y: hidden;
  font-size: $fontSizes-4 - 1px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.form__label {
  position: absolute;
  top: $space-2;
  display: block;
  transition: 0.2s;
  font-size: $fontSizes-1;
  padding: 10px $space-3;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: $space-2;
    display: block;
    transition: 0.2s;
    font-size: $fontSizes-1;
  }
  box-shadow: $colors-violet6 0px 0px 0px 2px;
  font-weight: 400;
  border: 2px solid $colors-violet8;
}

.form__field.readonly:focus {
  ~ .form__label {
    top: $space-5;
    font-size: $fontSizes-3;
  }
  border: 1px solid $colors-gray6;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    
  }
}

.savedPercentile,
.tn_button {
  transition: 0.3s ease;
}

.dropZone {
  width: 90%;
  margin: 0% 10%;
  height: 30vh;
  border: 2px dashed $colors-violet10;
  box-shadow: $colors-violet5 0px 2px 3px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colors-violet3;
  cursor: pointer;

  &:hover {
    box-shadow: $colors-violet3 0px 8px 24px;
  }
}

* {
  user-select: none;
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 100px;
  margin: 0;
  background-color: #ebf3f3;
}

.field{
  cursor: pointer;
}

.field_drop_selection {
  border: 1px solid $colors-gray6;
  border-radius: $radii-2;
  min-width: 200px;
  z-index: 1;
  background: white;
}

#select-button {
  position: relative;
  height: 16px;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#select-box {
  position: absolute;
  position: absolute;
  width: 100%;
  height: 100%;
}

#options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#selected-value {
  font-size: 16px;
  line-height: 1;
  margin-right: 26px;
}

.option i {
  width: 16px;
  height: 16px;
}

.option,
.label {
  color: $colors-gray10;
  font-size: 16px;
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px;
}

#chevrons i {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right;
}

#options-view-button:checked + #select-button #chevrons i {
  color: #2d3667;
}

.options {
  position: absolute;
  left: 0;
  width: 250px;
}

#options {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  width: 298px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
}

#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
}

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
}

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

.label {
  display: none;
  padding: 0;
  margin-left: 27px;
}

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px;
}

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.s-c.top {
  top: 0;
}

.s-c.bottom {
  bottom: 0;
}

input[type="radio"] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.s-c:hover ~ i {
  color: #fff;
  opacity: 0;
}

.s-c:hover {
  height: 100%;
  z-index: 1;
}

.s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.label {
  transition: 0.3s ease all;
}

.opt-val {
  position: absolute;
  left: 14px;
  width: 217px;
  height: 21px;
  opacity: 0;
  background-color: #fff;
  transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1);
}

.option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type="radio"]:checked ~ i,
.option input[type="radio"]:checked ~ .label {
  color: #fff;
}

.option input[type="radio"]:checked ~ .label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#options-view-button:not(:checked)
  ~ #options
  .option
  input[type="radio"]:checked
  ~ .opt-val {
  top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
  top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
  top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before {
  background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
  top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before {
  background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
  top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before {
  background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
  top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before {
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
  top: -231px;
}

#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

.option:hover .label {
  color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg {
  top: 120px;
  background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg {
  top: 160px;
  background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg {
  top: 200px;
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}

@keyframes vibration {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-2px) rotate(-1deg);
  }
  20% {
    transform: translateX(2px) rotate(1deg);
  }
  30% {
    transform: translateX(-2px) rotate(-1deg);
  }
  40% {
    transform: translateX(2px) rotate(1deg);
  }
  50% {
    transform: translateX(-1px) rotate(-1deg);
  }
  60% {
    transform: translateX(1px) rotate(1deg);
  }
  70% {
    transform: translateX(-1px) rotate(-1deg);
  }
  80% {
    transform: translateX(1px) rotate(1deg);
  }
  90% {
    transform: translateX(-1px) rotate(-1deg);
  }
  100% {
    transform: translateX(0);
  }
}

.error-animation {
  animation: vibration 0.5s;
}

.colorCard {
  display: flex;
  height: 25vh;
  border-radius: $radii-4;
  width: 60%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: $colors-violet5 0px 8px 12px;
  }
}

.colorPane {
  width: 30%;
  height: 100%;
  aspect-ratio: 1/1;
  transition: 0.2s ease-in;
  border-top-left-radius: $radii-4;
  border-bottom-left-radius: $radii-4;
}

.colorInfo {
  padding: $space-3 $space-6;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 360px;

  strong {
    color: $colors-text;
    font-size: $fontSizes-5;
    font-weight: 300;
    margin-right: $space-3;
  }
  div {
    color: black;
    font-size: $fontSizes-5;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid.lg\:grid-flow-col {
  margin-bottom: 2rem;
}

.colorNotExist {
  display: flex;
  height: 100%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  background-color: $colors-violet7;
  border-top-left-radius: $radii-4;
  border-bottom-left-radius: $radii-4;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $colors-violet11;
    font-size: $fontSizes-9 + 20px;
  }
}

.grid-container.empty {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  div {
    width: 100%;
    height: 16px;
    margin: 10px 0px;
    background: rgb(248, 249, 251);
  }
}

.colorMetaValue {
  position: relative;
  cursor: pointer;
  &:hover {
    color: $colors-violet11;
  }
}

div.focused{
  box-shadow: #ffdbd5 0px 0px 0px 2px;
  font-weight: 400;
  border: 2px solid #ec9c99;
}

.colorMetaValue:hover::before {
  content: "\f0c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  color: $colors-violet11;
}

.colorMetaValue::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.colorMetaValue:hover::before {
  opacity: 1;
}

.copyIcon {
  display: inline-block;
  margin-left: 5px;
}

.grid.grid-gap-small.lg\:grid-flow-col {
  column-gap: $space-4;
}



/* === range theme and appearance === */
input[type="range"] {
	font-size: 1.5rem;
	width: 100%;
}

input[type="range"] {
	color: #ef233c;
	--thumb-height: 1.125em;
	--track-height: 0.3em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

input[type="range"].win10-thumb {
	color: #2b2d42;

	--thumb-height: 1.375em;
	--thumb-width: 0.5em;
	--clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #000;
	}

	html::before {
		background: radial-gradient(circle at center, #101112, #000);
	}

	input[type="range"] {
		color: #f07167;
		--track-color: #ffd2be;
	}

	input[type="range"].win10-thumb {
		color: #3a86ff;
	}
}

/* === range commons === */
input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

input[type="range"]:active {
	cursor: grabbing;
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track{
  border-radius: 100px;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) - 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	background: #fff0;
}

input[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
	cursor: grabbing;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
	cursor: not-allowed;
}

.avatar-preview {
  width: 40px;
  height: 40px;
  position: absolute;
  top: $space-3;
  right: $space-3;

  img{
    right: $space-3;
    position: absolute;
    transition: 0.1s ease-in-out;
  }
}

.avatar-preview .clear-button{
  top: $space-1;
  right: $space-1;

  i{
    background: $colors-gray8;
    border-radius: $radii-round;  
    color: $colors-gray11;
    transition: 0.1s ease-in;
    font-size: 17px;
    font-weight: bold;
    &:hover{
      filter: brightness(93%)
    }
  }
}

.hljs{
  font-size: 15px;
}

.hljs-attribute{
  color: #444;
  font-weight: 700;
    font-size: 15px;
}

.hljs-number{
  color: $colors-violet9;
    font-size: 15px;
}

.form_field_med{
  width: 100%;
    height: 100px;
    overflow-y: hidden;
    font-size: 16px;
}

.tweet-mention,
.tweet-hashtag,
.tweet-link {
  color: rgb(29, 161, 242);
  /* Optionally, you can add more styles like font-weight or text-decoration */
  /* font-weight: bold; */
  /* text-decoration: underline; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



