@import "variables";
@import "mixins/input_fields";
@import "mixins/buttons";
.tool__container{
  min-height: 50vh;
  display: grid;
  grid-template-columns: auto;
  grid-gap: $space-5;
}
.main__container {
  display: grid;
  grid-template-columns: 17% 83%;
  
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f8f9fb;
  .sideNav {
    flex-basis: 25%;
    position: sticky;
    top: 10vh;
    left: 0;
    height: 90vh;
    background: $colors-violet4;
    z-index: $zIndices-2;
    border-right: 1px solid $colors-gray6;
    overflow-y: auto;
    overflow-x: hidden;
    .sideNav_container {
      box-sizing: border-box;
      background-color: $colors-panel;
      details{
        padding: 0 $space-3;
        
      }
      .sideNav_title {
        box-sizing: border-box;
        border-radius: $radii-4;
        font-weight: 800;
        text-transform: uppercase;
        font-size: $fontSizes-3;
        color: $colors-violet11;
      }
      details {
        box-sizing: border-box;
        summary {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          justify-content: space-between;
          &::marker {
            display: none;
            content: "";
          }
        }
        > summary::after {
          content: "\f077";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 12px;
          color: $colors-slate11;
        }
        .list_category_title {
          
          font-weight: 700;
          color: $colors-text;
          font-size: $fontSizes-2;
          box-sizing: border-box;
          padding: $space-3 $space-3;
          cursor: pointer;
          text-transform: uppercase;

          &:hover{
            background-color: $colors-slate2;
            border-radius: $radii-4;
          }
        }
        .category_active {
          color: $colors-violet11;
        }
        .list_item_container {
          padding: $sizes-2;
          box-sizing: border-box;
          background-color: rgba($color: #ffffff, $alpha: 0.8);
          box-sizing: border-box;
          .list_item_title {
            padding: $space-2;
            text-transform: capitalize;
            font-weight: 600;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            font-size: 13px;
            align-items: center;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 0 ;
              top: 0;
              height: 100%;
              width: 0.5px;
              background-color: $colors-violet5;
            }
            img {
              margin-right: $space-5;
            }
            &:hover {
              background-color: $colors-gray2;
            }
            a {
              color: $colors-text;
            }
          }
          .openNow {
            position: relative;
            background-color: $colors-panel;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 1px;
              background-color: $colors-violet10;
            }
          }
        }
      }
      details[open] > summary:after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $colors-violet10;
      }
    }
  }
  .pageBody {
    flex-basis: 70%;
    padding-right: 5%;
    padding-top: $space-5;
    z-index: $zIndices-1;
    .pageContent {
      background: white;
      padding: $space-6;
      box-shadow: 0 0 5px $colors-gray4;
    }
    .tool__embed {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 1rem;
      padding: 0 $sizes-9;
      .pageMeta {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-content: center;
        align-items: center;
        gap: $sizes-4;
        justify-content: space-between;
        align-items: center;

        border-radius: 6px;
        padding: 0rem $space-5;

        .metaInfo{
          display: flex;
          flex-direction: row;
          gap: $sizes-5;
          align-items: center;
        }
        
        #toolTitle{
          font-size: $fontSizes-6;
        }
        .toolIcon {
          margin-right: $space-5;
        }
      }
    }
  }
}
.SideBar_toggle{
  display: none;
}

.verticalDivider {
  width: 1px;
  height: 25px;
  background-color: #ccc; // or use your theme's gray color
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }
  .sideNav {
    display: none;
  }
  .pageBody {
    flex-basis: 100%;
    padding: $space-7;
  }
  .main__container {
    display: block;
  }
  .tn_button {
    margin-bottom: $space-5;
  }
  .top_notice {
    width: 100%;
  }
  .pageMeta {
    margin-bottom: $space-5;
  }
}
@media (max-width: 768px) {
  .tool__container {
    padding: 0;
  }
}
@media (max-width: 420px) {
  .pageBody {
    padding: $space-2;
  }
}
